:root {
    --header-bg-color: rgba(240, 240, 240, 0.8);
    --header-box-shadow-color: rgba(89, 89, 89, 0.24) 0px 3px 8px;
    --app-name-text-color: #000000;
    --btn-bg-color: rgb(0, 84, 210);
    --btn-bg-hover-color: rgb(37, 124, 255);
}

.header {
    background-color: var(--header-bg-color);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 0.5rem;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--header-box-shadow-color);
}

.appName {
    text-decoration: none;
    color: var(--app-name-text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* width: 60%; */
}

.logo {
    font-size: 2.5rem;
    color: var(--btn-bg-color);
}

.title {
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.header img {
    height: 3rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.button {
    background-color: var(--btn-bg-color);
    border: none;
    height: 2.5rem;
    color: aliceblue;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 0.4rem;
    text-decoration: none;
    transition: background 0.2s ease;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button:hover {
    background-color: var(--btn-bg-hover-color);
}

.fail {
    color: rgb(148, 0, 0);
}

.success {
    color: rgb(9, 126, 7);
}

@media (max-width: 480px) {
    .appName {
        width: 40%;
    }
    .logo {
        font-size: 1.8rem;
    }
    .title {
        font-size: 1.2rem;
    }
    .button {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
    }
    .header img {
        height: 2.3rem;
        display: none;
    }
}
